<main>
  <article>
    <div class="intro">
      <div>Hi, there</div>
      <h1>I am Sonu</h1>
    </div>
    <p>
      I am an Experienced Full-Stack Developer. Skilled in
      Angular,RxJs,TypeScript , Javascript Also having working knowledge of
      React JS,NodeJS, MongoDB, Mean Stack, RESTfull API’s,Figma to HTML, User
      Experience.
    </p>
    <br />
    <div class="skills">
      <p>Skills I am good at</p>
      <div>Front-end : Javascript , TypeScript , HTML, CSS, SCSS</div>
      <div>Backend : NodeJs , Express , Mongo , PostgreSql, Firebase</div>
      <div>Tools: Git,GitHub,MacOs</div>
    </div>
    <br />
    <div class="experience">
      <h4>My journey so far</h4>
      <div>
        <div class="d-flex">
          <div class="grow-1">Spotdraft</div>
          <div>Bengaluru</div>
        </div>
        <div class="d-flex">
          <div class="grow-1">Software Engineer</div>
          <div>Jan 2023 - Present</div>
        </div>
        <ul>
          <li>
            Developed Word and Office extensions and programs that improve
            platform user retention.
          </li>
          <li>
            Worked closely with engineers, product managers, and senior
            leadership to translate vision into tangible roadmaps every quarter.
          </li>
          <li>
            Wrote comprehensive test cases for crucial processes, which
            minimizes the amount of time QA had to spend testing those flows.
          </li>
        </ul>
        <div>Tech Stack Used</div>
        <div>Angular , TypeScript , NxConsole , HTML, SCSS</div>
      </div>
      <br />
      <div>
        <p></p>
        <div class="d-flex">
          <div class="grow-1">Interbiz Consulting Pvt. Ltd.</div>
          <div>Raipur , CG</div>
        </div>
        <div class="d-flex">
          <div class="grow-1">Software Engineer</div>
          <div>Aug 2020 - Dec 2022</div>
        </div>

        <ul>
          <li>
            Designed & developed a reusable UI component to handle over 50
            columns and 10,000 rows of tabular data. This part is utilized for
            three internal angular applications.
          </li>
          <li>
            Multi-level customized table component: Built a multi-hierarchical
            layered data table that is specifically designed and reusable. Graph
            with Nested Table.It allows for easy visualization and analysis of
            complex data sets.
          </li>
          <li>
            Managed a team for 4 people. Project planning, task distribution,
            delivering commitments on time where key responsibility
          </li>
          <li>
            Led daily stand-up to ensure the team worked effectively, using
            coaching strategies to increase efficiency by 10%.
          </li>
          <li>
            Poll system: Using Azure Trigger Function and Durable Function, a
            low latency system was built to poll data from data servers for
            Internet of Things devices. The IoT devices and servers can
            communicate in real time thanks to the system's ability to manage
            massive data volumes. In order to safeguard our clients' privacy, we
            also put security measures in place to guard sensitive data that is
            sent between the devices and servers.
          </li>
          <li>
            Worked with PM to keep on track with the project plan timeline, and
            billing.
          </li>
          <li>
            Mentored 12 new junior front-end developers on team in expanding
            JavaScript, Typescript, and Angular , Git,Github skillset.
          </li>
          <li>
            Maintained graphic standards and branding throughout the product’s
            interfaces.
          </li>
        </ul>
        <p>Tech Stack Used</p>
        <div>
          <div>
            Front-End: Angular , TypeScript , NxConsole, HTML , Javascript,
            SCSS,
          </div>
          <div>Backend : Mysql,C# , .NetCore , Entity Framework,Azure</div>
          <div>Tools : Git, BitBucket , Jira, Figma, ClickUp,</div>
        </div>
      </div>
    </div>
    <br />
    <div>
      <h5>Things I enjoy other programming</h5>
      <div>Anime , Traveling , Photography</div>
    </div>
  </article>
</main>
